<div class="row">
  <div class="four columns">
    <!-- Main information, edit it on _config.yml -->
    <img src="/images/personal.jpeg"/>
  </div>
  <div class="eight columns">
    <!-- Main information, edit it on _config.yml -->
    <h2 class="mb-2"><%= config.owner %></h2>
    <p><%- markdown(config.info) %></p>
    <p><%- markdown(config.desc) %></p>
    <h4> <a href="<%= config.root %>about">See More</a></h4>
  </div>
</div>

<% if (site.data.news) { %>
  <div class="news-list">
    <% site.data.news.sort((a, b) => new Date(b.date) - new Date(a.date)).forEach(function(news) { %>
      <div class="news-item">
        <div class="news-date">
          <%- full_date(news.date, 'll') %>
        </div>
        <p class="news-excerpt"><%- markdown(news.title) %></p> 
        <% if (news.excerpt) { %>
          <p class="news-excerpt"><%- news.excerpt %></p>
        <% } %>
      </div>
    <% }) %>
  </div>
<% } %>

<div class="row mt-2">
  <center>
    <img src="/images/btmfigure.png" width="80%"/>
  </center>
</div>
